<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.TimeLineMapper" >
  <resultMap id="BaseResultMap" type="com.entity.TimeLine" >
    <result column="title_id" property="titleId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="time_stamp" property="timeStamp" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="manager_user" property="managerUser" jdbcType="VARCHAR" />
    <result column="manage_time" property="manageTime" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    title_id, user_id, time_stamp, content, manager_user, manage_time, title, type, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.entity.TimeLineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from timeline
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.entity.TimeLineExample" >
    delete from timeline
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.entity.TimeLine" >
    insert into timeline (title_id, user_id, time_stamp, 
      content, manager_user, manage_time, 
      title, type, status
      )
    values (#{titleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{timeStamp,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{managerUser,jdbcType=VARCHAR}, #{manageTime,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.TimeLine" >
    insert into timeline
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="titleId != null" >
        title_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="timeStamp != null" >
        time_stamp,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="managerUser != null" >
        manager_user,
      </if>
      <if test="manageTime != null" >
        manage_time,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="titleId != null" >
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        #{timeStamp,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="managerUser != null" >
        #{managerUser,jdbcType=VARCHAR},
      </if>
      <if test="manageTime != null" >
        #{manageTime,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.entity.TimeLineExample" resultType="java.lang.Integer" >
    select count(*) from timeline
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

    <select id="selectTimeLineData" resultType="com.entity.TimeLine">
      select * from timeline where user_id=#{userId}
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
    update timeline
    <set >
      <if test="record.titleId != null" >
        title_id = #{record.titleId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.timeStamp != null" >
        time_stamp = #{record.timeStamp,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.managerUser != null" >
        manager_user = #{record.managerUser,jdbcType=VARCHAR},
      </if>
      <if test="record.manageTime != null" >
        manage_time = #{record.manageTime,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update timeline
    set title_id = #{record.titleId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      time_stamp = #{record.timeStamp,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      manager_user = #{record.managerUser,jdbcType=VARCHAR},
      manage_time = #{record.manageTime,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>